body {
  height: 5rem;
  width: 5rem;
}

body.focus-mode > *:not(.focused-element) {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

.focused-element {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1000;
}
